/data/csv/*.csv
/data/geojson/*.geojson
/data/raster/carbon_tot.aux
/data/raster/carbon_tot.lyr
/data/raster/carbon_tot
/data/raster/info
/data/raster/*.zip
/tests/log.txt
/data/raster/carbon2010/*
/tests/html/*
/data/spatialite/*
/data/raster/kba/*